Undead/src/test/resources/dataset.dtd

<!ELEMENT dataset (
        UNDEAD*,
        USER*,
        USER_UNDEAD*
        )>

        <!ELEMENT UNDEAD EMPTY>
        <!ATTLIST UNDEAD
                ID CDATA #REQUIRED
                NAME CDATA #IMPLIED
                ABILITY CDATA #IMPLIED
                STRENGTH CDATA #IMPLIED
                HEALTH CDATA #IMPLIED
                >

        <!ELEMENT USER EMPTY>
        <!ATTLIST USER
                ID CDATA #REQUIRED
                USERNAME CDATA #IMPLIED
                PASSWORD CDATA #IMPLIED
                >

        <!ELEMENT USER_UNDEAD EMPTY>
        <!ATTLIST
                USERID CDATA #REQUIRED
                UNDEADID CDATA #REQUIRED>
